* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(18, 19, 18);
}

.header {
    text-align: center;
    height: 500px;
    background-image: url("../img/city-skyline.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.header > h1 {
    padding-top: 250px;
    text-shadow: 5px 5px 5px black;
    color: white;
}