/* Main page stuff */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(18, 19, 18);
}

.header {
    text-align: center;
    height: 500px;
    background-image: url("../img/city-skyline.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.header > h1 {
    padding-top: 250px;
    text-shadow: 5px 5px 5px black;
    color: white;
}

.scroll-section {
    width: 90vw;
    margin: 100px auto;
    padding: 100px 0px 100px 0px;
    text-align:center;
    border: 2px solid white;
    color:white;
}

.section-header {
    font-size: xx-large;
}

.sideways-slideshow {
    padding: 10px;
    margin: auto;
    width: 50%;
    border: 2px solid white;
}

/* Slideshow stuff */
.slide {
    display: none;
}

.slideshow-prev, .slideshow-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slideshow-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshow-prev:hover, .slideshow-next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slideshow-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slideshow-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}