/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Azeret+Mono&display=swap');

:root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 350px;

    --blur-amt: 15px;
    --blur-saturate: 200%;

    --blur-border-radius: 50px;

    --title-font: "Abril Fatface";
    --content-font: "Azeret Mono";
}

body {
    overflow-x: hidden;
    margin-top: var(--spacing);
}

main {
    position: absolute;
    margin: 0px auto;
    width: 100vw;

    color: white;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    font-family: var(--content-font);
}

h1, h2, h3, blockquote {
    font-family: var(--title-font);
    grid-column: 2 / span 5;
}

.glass {
    backdrop-filter: blur(var(--blur-amt)) saturate(var(--blur-saturate));
    -webkit-backdrop-filter: blur(var(--blur-amt)) saturate(var(--blur-saturate));
    /* background-color: rgba(255, 255, 255, 0.01); */
    border-radius: var(--blur-border-radius);
    border: none;
}

header {
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
}

section {
    grid-column: 2 / 8;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}

blockquote {
    margin: 0;
    padding: 0;

    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
}

blockquote p {
    color: black;
    background-color: white;
    font-size: 3rem;
    display: inline;
    line-height: 1;
}

.left {
    grid-column: 6 / 12;
}

canvas {
    z-index: -100;

    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}

